.about{
  .slogan-items{
    padding-top: 55px;
    padding-bottom: 60px;
    background: linear-gradient(189.05deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #323232;

    .container{
      .row{
        &:first-child{
          @media(max-width: 575px){
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }

    .slogan{
      padding: 35px 26px;
      border: 2px dashed #FFFFFF;
      box-sizing: border-box;
      border-radius: 30px;
      transform: rotate(-2.02deg);
      margin-bottom: 50px;

      @media(max-width: 768px){
        padding: 25px 20px;
      }

      @media(max-width: 440px){
        padding: 18px 19px;
      }

      p{
        font-size: 21px;
        line-height: 1.5;
        font-family: $f-Black;
        color: #ffffff;
        margin-bottom: 0;

        @media(max-width: 992px){
          font-size: 20px;
        }

        @media(max-width: 768px){
          font-size: 18px;
          text-align: center;
        }

        @media(max-width: 440px){
          font-size: 16px;
        }
      }
    }

    .content{
      display: flex;
      justify-content: space-between;

      @media(max-width: 992px){
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
      }

      .item{
        width: 265px;
        display: flex;
        align-items: flex-start;

        @media(max-width: 992px){
          width: 100%;
          margin-bottom: 30px;

          &:last-child{
            margin-bottom: 0;
          }
        }

        img{
          width: 40px;
          height: auto;
          margin-right: 20px;
          display: block;
        }

        p{
          color: #ffffff;
          margin-bottom: 0;
          font-size: 18px;
          line-height: 1.5;

          @media(max-width: 768px){
            font-size: 16px;
          }
        }
      }
    }
  }

  .our-numbers{
    background-color: #323232;
    padding-top: 50px;
    padding-bottom: 60px;

    .error-in{
      font-size: 0;
      line-height: 1.3;
      font-family: $f-Black;
      text-align: center;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: #ffffff;
      width: 100%;
      /*transition: all 1s;*/
      transform: scale(0);
    }

    .up-error{
      -webkit-animation: error  0.5s infinite ease-in-out;
      animation: error  0.5s infinite ease-in-out;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }

    @-webkit-keyframes error {
      0% {
        transform: scale(0);
        font-size: 0;
      }

      70% {
        transform: scale(1.5);
        font-size: 80px;
      }

      100% {
        transform: scale(1);
        font-size: 80px;
      }
    }

    @keyframes error {
      0% {
        transform: scale(0);
        font-size: 0;
      }

      70% {
        transform: scale(1.5);
        font-size: 80px;
      }

      100% {
        transform: scale(1);
        font-size: 80px;
      }
    }


    .item{
      text-align: center;
      color: #ffffff;

      @media(max-width: 575px){
        margin-bottom: 30px;
      }

      .number{
        font-size: 80px;
        line-height: 1;
        font-family: $f-Black;
        border-bottom: 2px solid #ffffff;
        display: inline-block;
        margin-bottom: 20px;

        @media(max-width: 992px){
          font-size: 75px;
        }

        @media(max-width: 768px){
          font-size: 70px;
        }

        @media(max-width: 575px){
          font-size: 65px;
        }

        @media(max-width: 440px){
          font-size: 60px;
        }
      }

      .text{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 0;

        @media(max-width: 768px){
          font-size: 16px;
        }
      }
    }

    .slogan{
      padding-left: 178px;
      padding-top: 35px;
      perspective: 1000px;

      @media(max-width: 992px){
        padding-left: 15px;
      }

      .inner{
        position: relative;
        padding: 40px 30px;
        color: #BCD866;
        border: 2px dashed #BCD866;
        border-radius: 30px;
        text-align: center;
        width: 600px;
        transform-origin: left;
        transform: rotateX(-90deg) rotateZ(1.6deg);
        opacity: 0;

        &:before{
          content: '';
          position: absolute;
          top: -17px;
          right: 82px;
          width: 35px;
          height: 30px;
          border-bottom-right-radius: 10px;
          border-bottom: 2px dashed #BCD866;
          border-right: 2px dashed #BCD866;
          transform: rotate(-115deg) skewX(35deg);
          background-color: #323232;
        }

        @media(max-width: 992px){
          margin: 0 auto;
        }

        @media(max-width: 768px){
          width: 100%;
          padding: 30px 25px;
        }

        @media(max-width: 575px){
          padding: 20px 10px;
        }

        .border-pic{
          position: absolute;
          top: -27px;
          left: 0;
          width: auto;
          height: 100%;
          border: none;
        }

        .arrow{
          position: absolute;
          bottom: -25px;
          right: 35px;
          width: 40px;
          height: auto;
        }

        p{
          font-size: 16px;
          margin-bottom: 5px;
          line-height: 1.5;
        }

        h3{
          font-size: 28px;
          line-height: 1.5;
          margin-bottom: 0;
          font-family: $f-Black;
          text-transform: uppercase;

          @media(max-width: 768px){
            font-size: 18px;
          }

          @media(max-width: 575px){
            font-size: 16px;
          }

          @media(max-width: 440px){
            font-size: 14px;
          }
        }
      }
    }

    .in-animate{
      -webkit-animation: flip-slogan 0.5s ease-in-out;
      animation: flip-slogan forwards 0.5s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    @-webkit-keyframes flip-slogan {
      0% {
        transform: rotateX(-90deg) rotateZ(1.6deg);
        opacity: 0;
      }

      5%{
        opacity: 1;
      }

      100% {
        transform: rotateX(0deg) rotateZ(1.6deg);
        opacity: 1;
      }
    }

    @keyframes flip-slogan  {
      0% {
        transform: rotateX(-90deg) rotateZ(1.6deg);
      }

      5%{
        opacity: 1;
      }

      100% {
        transform: rotateX(0deg) rotateZ(1.6deg);
        opacity: 1;
      }
    }
  }
}