.advantages{
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #ffffff;

  @media(max-width: 768px){
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @media(max-width: 575px){
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @media(max-width: 440px){
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .content{
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s;
  }

  .animation-up{
    opacity: 1;
    transform: translateY(0);
  }

  .block-title{
    width: 490px;
    margin: 0 auto 60px;
    text-align: center;

    @media(max-width: 992px){
      margin-bottom: 50px;
    }

    @media(max-width: 768px){
      margin-bottom: 40px;
    }

    @media(max-width: 575px){
      width: 100%;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .item{
    display: flex;
    justify-content: space-between;

    @media(max-width: 992px){
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    .pic{
      width: 520px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;

      @media(max-width: 1200px){
        width: 420px;
      }

      @media(max-width: 992px){
        width: 100%;
        height: 350px;
      }

      @media(max-width: 768px){
        height: 300px;
      }

      @media(max-width: 575px){
        height: 250px;
      }

      @media(max-width: 440px){
        height: 200px;
      }

      @media(max-width: 380px){
        height: 180px;
      }
    }

    .text{
      width: 540px;

      @media(max-width: 1200px){
        width: 440px;
      }

      @media(max-width: 992px){
        width: 100%;
        margin-bottom: 15px;
      }

      h3{
        font-size: 22px;
        line-height: 1.5px;
        margin-bottom: 20px;
        font-family: $f-bold-i;

        @media(max-width: 992px){
          font-size: 20px;
          margin-bottom: 15px;
        }

        @media(max-width: 440px){
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      p{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;

        @media(max-width: 1200px){
          font-size: 16px;
        }

        @media(max-width: 992px){
          margin-bottom: 15px;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}