/*--- Basic styles ---*/
html{ overflow-y: scroll !important; }

body{
  font-family: $f-main;
  color: #323232;
  font-size: 16px;
  line-height: 1.6;
  padding-right: 0 !important;
  margin: 0 !important;

  .modal.show {
    display: flex !important;
    height: 100%;
  }
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

*{
  box-sizing: border-box;
  outline: none !important;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

.fixed{
  background-color: rgba(0,0,0,1);
  padding-top: 10px;
  padding-bottom: 10px;
  transform: translateY(-100%);
}

.fixed-vis{
  transform: translateY(0);
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(196.47deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #AFB2BB;
  z-index: 100000;
}

/*--- button ---*/

.button{
  display: block;
  width: 260px;
  height: 60px;
  line-height: 60px;
  background-color: #BCD866;
  border-radius: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 16px;
  font-family: $f-med;
  color: #323232 !important;
  transition: all 0.5s;

  @media(max-width: 440px){
    width: 220px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
  }

  &:hover{
    background-color: #DFFF7D;
  }
}

/*--- block-title ---*/

.block-title {
  font-size: 32px;
  font-family: $f-Black;
  line-height: 1.5;

  @media(max-width: 992px){
    font-size: 30px;
  }

  @media(max-width: 768px){
    font-size: 28px;
  }

  @media(max-width: 440px){
    font-size: 26px;
  }
}

/*--- form ---*/

form{
  .form-group{
    width: 255px;
    height: 40px;
    margin-bottom: 30px;

    @media(max-width: 992px){
      width: 100%;
    }

    .form-control{
      width: 100%;
      height: 100%;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #A4A4A4;;
      box-shadow: none;
      transition: all 0.5s;
      background-color: rgba(0,0,0,0);
      color: #ffffff;
    }

    textarea{
      resize: none;
    }
  }

  .custom-control{
    width: 100%;
    margin-bottom: 40px;
  }

  .custom-checkbox{
    width: 100% !important;
    padding-left: 0;
    cursor: pointer;
    height: auto;
    text-align: center;

    @media(max-width: 992px){
      text-align: left;
    }

    @media(max-width: 575px){
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .custom-control-label{
      letter-spacing: 0.05em;
      color: #A4A4A4;;
      font-size: 14px;
      padding-left: 32px;
      cursor: pointer;

      @media(max-width: 575px){
        font-size: 12px;
      }

      &:hover{
        &:before{
          border: 1px solid #BCD866;
        }
      }

      &:before{
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid #A4A4A4;
        background-color: rgba(0,0,0,0);
        top: 0px;
        left: 0px;
        transition: all 0.5s;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
      }

      a{
        color: #BCD866 !important;
      }
    }

    .custom-control-input:checked~.custom-control-label::before{
      background-color: rgba(0,0,0,0);
      border: 1px solid $accent;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    }

    .custom-control-input:checked~.custom-control-label::after{
      background-image: url("../img/form-ch.svg");
      background-size: 100%;
      top: 6px;
      left: 4px;
      width: 14px;
      height: 9.5px;

    }
  }

  .button{
    margin: 0 auto;
    line-height: 1;
    border: none;
    cursor: pointer;
  }

}


/*--- backgroud image ---*/

@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/*--- modal reset ---*/

.modal{
  .modal-dialog{
    margin: auto;

    .modal-content{
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: 0;

      .modal-header{
        padding: 0;
        border: none;
        position: relative;

        .close{
          opacity: 1;
          position: absolute;
          transition: all 0.5s;
          outline: none !important;
        }
      }

      .modal-body{
        padding: 0;
        border: none;
      }
    }
  }
}

/*--------- ANIMATION ------------*/

.time-animation-start{
  -webkit-animation: timing 5500ms infinite linear;
  animation: timing 5500ms infinite linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.time-delivery-start{
  -webkit-animation: timing 15500ms infinite linear;
  animation: timing 15500ms infinite linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.time-delivery-animation{
  -webkit-animation: timing 15500ms infinite linear;
  animation: timing 15500ms infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.time-animation{
  -webkit-animation: timing 5500ms infinite linear;
  animation: timing 5500ms infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes timing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes timing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.up-error{
  -webkit-animation: error  1s infinite ease-in-out;
  animation: error  1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.menu-slider{
  -webkit-animation: slide-menu 1s infinite ease-in-out;
  animation: slide-menu 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}



.menu-slider-out{
  -webkit-animation: slide-menu-out 1s infinite ease-in-out;
  animation: slide-menu-out 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}

@keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}
