.buy-auto-simple{
  padding-top: 100px;
  background-color: #f5f5f5;

  @media(max-width: 992px){
    padding-top: 85px;
  }

  @media(max-width: 768px){
    padding-top: 75px;
  }

  @media(max-width: 575px){
    padding-top: 65px;
  }

  @media(max-width: 440px){
    padding-top: 50px;
  }

  .block-title{
    width: 573px;
    margin: 0 auto 40px;
    text-align: center;

    @media(max-width: 768px){
      width: 100%;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .content{
    position: relative;
    overflow: hidden;

    .animatr-line{
      position: absolute;
      border-right: 2px dashed rgba(#7E42A5, 0.5);
      height: 100%;
      top: 35px;
      left: 50%;
      margin-left: -1px;

      @media(max-width: 575px){
        left: 35px;
      }

      span{
        position: absolute;
        width: 4px;
        background-color: #f5f5f5;
        top: 0;
        left: 0;
        height: 100%;
        transition: all 0.5s;
      }
    }
  }

  .item{
    width: 100%;
    display: flex;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s;

    .inner{
      width: 50%;
      position: relative;

      @media(max-width: 575px){
        width: 100%;
        padding-bottom: 20px;
      }

      &:before{
        content: '';
        position: absolute;
        top: 25px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #7E42A5;
        border: 10px solid #F5F5F5;
      }

      .number{
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        @media(max-width: 992px){
          margin-bottom: 20px;
        }

        @media(max-width: 768px){
          margin-bottom: 15px;
        }

        @media(max-width: 440px){
          margin-bottom: 10px;
        }

        span{
          line-height: 1;
          font-size: 32px;
          font-family: $f-Black;
        }
      }

      h3{
        font-family: $f-bold-i;
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 1.5;

        @media(max-width: 992px){
          font-size: 20px;
          margin-bottom: 15px;
        }

        @media(max-width: 440px){
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      p{
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.5;

        @media(max-width: 768px){
          font-size: 16px;
        }
      }
    }

    &:nth-child(odd){
      justify-content: flex-end;

      @media(max-width: 575px){
        justify-content: flex-start;
      }

      .inner{
        padding-left: 60px;
        padding-right: 40px;

        @media(max-width: 992px){
          padding-right: 0;
          padding-left: 40px;
        }


        &:before{
          left: -20px;

          @media(max-width: 575px){
            left: 0;
          }
        }

        .number{
          img{
            margin-left: 39px;

            @media(max-width: 575px){
              margin-left: 10px;
            }
          }
        }
      }
    }

    &:nth-child(even){
      justify-content: flex-start;

      .inner{
        padding-left: 40px;
        padding-right: 60px;
        text-align: right;

        @media(max-width: 992px){
          padding-left: 0;
          padding-right: 40px;
        }

        @media(max-width: 575px){
          padding-right: 0;
          padding-left: 40px;
          text-align: left;
        }

        &:before{
          right: -20px;

          @media(max-width: 575px){
            right: auto;
            left: 0;
          }
        }

        .number{
          flex-direction: row-reverse;

          @media(max-width: 575px){
            flex-direction: row;
          }

          img{
            margin-right: 39px;

            @media(max-width: 575px){
              margin-right: 0;
              margin-left: 10px;
            }
          }
        }
      }
    }

    &:nth-child(2){
      .inner{
        .number{
          img{
            width: 88px;

            @media(max-width: 992px){
              width: 83px;
            }

            @media(max-width: 768px){
              width: 78px;
            }

            @media(max-width: 575px){
              width: 73px;
            }
          }
        }

      }
    }
    &:nth-child(3){
      .inner{
        .number{
          img{
            width: 91px;

            @media(max-width: 992px){
              width: 86px;
            }

            @media(max-width: 768px){
              width: 81px;
            }

            @media(max-width: 575px){
              width: 76px;
            }
          }
        }

      }
    }

    &:nth-child(4){
      .inner{
        .number{
          img{
            width: 83px;

            @media(max-width: 992px){
              width: 78px;
            }

            @media(max-width: 768px){
              width: 73px;
            }

            @media(max-width: 575px){
              width: 68px;
            }
          }
        }

      }
    }

    &:nth-child(5){
      .inner{
        .number{
          img{
            width: 75px;

            @media(max-width: 992px){
              width: 70px;
            }

            @media(max-width: 768px){
              width: 65px;
            }

            @media(max-width: 575px){
              width: 60px;
            }
          }
        }

      }
    }

    &:nth-child(6){
      .inner{
        .number{
          img{
            width: 77px;

            @media(max-width: 992px){
              width: 72px;
            }

            @media(max-width: 768px){
              width: 67px;
            }

            @media(max-width: 575px){
              width: 62px;
            }
          }
        }

      }
    }

    &:nth-child(7){
      .inner{
        .number{
          img{
            width: 90px;

            @media(max-width: 992px){
              width: 85px;
            }

            @media(max-width: 768px){
              width: 80px;
            }

            @media(max-width: 575px){
              width: 75px;
            }
          }
        }

      }
    }

    &:nth-child(8){
      .inner{
        .number{
          img{
            width: 80px;

            @media(max-width: 992px){
              width: 75px;
            }

            @media(max-width: 768px){
              width: 70px;
            }

            @media(max-width: 575px){
              width: 65px;
            }
          }
        }

      }
    }

    &:nth-child(9){
      background-color: #f5f5f5;
      .inner{
        .number{
          img{
            width: 83px;

            @media(max-width: 992px){
              width: 78px;
            }

            @media(max-width: 768px){
              width: 73px;
            }

            @media(max-width: 575px){
              width: 68px;
            }
          }
        }

      }
    }
  }

  .animation-up{
    opacity: 1;
    transform: translateY(0);
  }

  .call{
    margin-top: 100px;

    @media(max-width: 992px){
      margin-top: 85px;
    }

    @media(max-width: 768px){
      margin-top: 75px;
    }

    @media(max-width: 575px){
      margin-top: 65px;
      margin-left: 15px;
    }

    @media(max-width: 440px){
      margin-top: 50px;
    }

    .container{
      position: relative;

      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100vw;
        background: linear-gradient(187.37deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #FFFFFF;
        border-radius: 40px 0px 0px 0px;
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1), 5px 5px 40px rgba(0, 0, 0, 0.1);
        z-index: 1;
      }
    }

    .inner{
      padding-top: 50px;
      padding-bottom: 50px;
      z-index: 2;
      position: relative;
      padding-left: 110px;

      @media(max-width: 1200px){
        padding-left: 55px;
      }

      @media(max-width: 992px){
        padding-top: 45px;
        padding-bottom: 45px;

        padding-left: 15px;
      }

      @media(max-width: 768px){
        padding-top: 40px;
        padding-bottom: 40px;
      }

      @media(max-width: 575px){
        padding-top: 35px;
        padding-bottom: 35px;
      }

      @media(max-width: 440px){
        padding-top: 30px;
        padding-bottom: 30px;
      }

      p{
        margin-bottom: 0;
        color: #ffffff;
        line-height: 1.5;
      }

      strong{
        font-family: $f-bold;
        font-size: 28px;

        @media(max-width: 992px){
          font-size: 24px;
        }

        @media(max-width: 768px){
          font-size: 22px;
        }

        @media(max-width: 575px){
          font-size: 20px;
        }

        @media(max-width: 440px){
          font-size: 18px;
        }
      }

      .text{
        margin-top: 20px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media(max-width: 768px){
          margin-top: 15px;
          flex-wrap: wrap;
        }

        @media(max-width: 440px){
          margin-top: 10px;
        }

        p{
          font-size: 28px;
          font-family: $f-bold;
          width: 445px;

          @media(max-width: 992px){
            font-size: 24px;
          }

          @media(max-width: 768px){
            font-size: 22px;
            width: 100%;
            margin-bottom: 20px;
          }

          @media(max-width: 575px){
            font-size: 20px;
          }

          @media(max-width: 440px){
            font-size: 18px;
          }
        }

        .arrow{
          position: absolute;
          bottom: -20px;
          left: 57%;
          width: 72px;
          height: auto;

          @media(max-width: 992px){
            display: none;
          }
        }
      }
    }
  }
}