.contacts{
  background-color: #323232;
  padding-top: 253px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;

  h3{
    color: #ffffff;
    font-size: 22px;
    font-family: $f-bold-i;
    margin-bottom: 23px;

    @media(max-width: 768px){
      font-size: 20px;
      margin-bottom: 20px;
    }

    @media(max-width: 440px){
      font-size: 18px;
    }
  }

  .info{
    @media(max-width: 992px){
      margin-bottom: 50px;
    }

    p, a{
      display: flex;
      color: #ffffff !important;
      font-size: 18px;
      margin-bottom: 23px;
      align-items: center;

      @media(max-width: 440px){
        font-size: 16px;
        margin-bottom: 20px;
      }

      svg{
        width: 24px;
        height: auto;
        margin-right: 20px;

        @media(max-width: 440px){
          font-size: 18px;
          margin-right: 17px;
        }
      }
    }

    .social-wrapper{
      display: flex;

      a{
        width: 30px;
        margin-right: 30px;
        margin-bottom: 0;

        &:hover{
          svg{
            opacity: 0.7;
          }
        }

        svg{
          width: 100% !important;
          height: auto !important;
          transition: all 0.5s;
          margin-right: 0 !important;
        }
      }
    }

    .copy-wpap{
      margin-top: 40px;

      @media(max-width: 992px){
        display: none;
      }

      p, a{
        font-size: 12px;
        margin-bottom: 0;
        opacity: 0.5;
      }
    }
  }

  .map-wrapper{
    .map{
      width: 100%;
      height: 260px;

      @media(max-width: 992px){
        height: 210px;
      }
    }

    .copy-wpap{
      display: none;
      margin-top: 30px;

      @media(max-width: 992px){
        display: block
      }

      p, a{
        font-size: 12px;
        margin-bottom: 0;
        color: #ffffff;
        opacity: 0.5;
      }
    }
  }


}
