.delivered-cars{
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: #F3F5F6;
  margin-top: -220px;
  transition: all 0.5s;

  @media(max-width: 992px){
    padding-top: 85px;
    padding-bottom: 85px;
  }

  @media(max-width: 768px){
    padding-top: 75px;
    padding-bottom: 75px;
  }

  @media(max-width: 575px){
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @media(max-width: 440px){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .title{
    position: relative;

    .block-title{
      width: 570px;
      margin-bottom: 40px;

      @media(max-width: 768px){
        width: 100%;
      }
    }

    .subtitle{
      position: absolute;
      width: 191px;
      top: -36px;
      left: 721px;
      transform: rotate(4.21deg);

      @media(max-width: 992px){
        left: 580px;
        top: -55px;
      }

      @media(max-width: 768px){
        left: auto;
        right: 0;
        top: 185px;
      }

      @media(max-width: 575px){
        width: 130px;
        right: 15px;
        top: 245px;
      }

      img{
        width: 100%;
        height: auto;
      }

      span{
        position: absolute;
        top: 60%;
        left: 50%;
        width: 156px;
        text-align: center;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.5;
        transform: translateX(-50%) translateY(-50%);
        font-family: $f-bold;

        @media(max-width: 575px){
          font-size: 12px;
          width: 105px;
        }
      }
    }
  }

  .delivered-slider{
    margin-bottom: 30px;

    .slide{
      .characteristics{
        display: flex;
        margin-bottom: 40px;

        @media(max-width: 768px){
          flex-wrap: wrap;
        }

        .item{
          margin-right: 50px;
          display: flex;
          align-items: flex-start;

          @media(max-width: 768px){
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;

            &:last-child{
              margin-bottom: 0;
            }
          }

          &:last-child{
            margin-right: 0;
          }

          svg{
            width: 40px;
            height: auto;
            margin-right: 20px;
          }

          .text{
            h3{
              letter-spacing: 0.05em;
              text-transform: uppercase;
              font-size: 14px;
              font-family: $f-light;
              margin-bottom: 0px;
              line-height: 1.5;

              @media(max-width: 440px){
                font-size: 12px;
              }
            }

            p{
              margin-bottom: 0;
              line-height: 1.5;
              font-size: 22px;
              font-family: $f-Black;
              letter-spacing: 0.02em;
            }
          }
        }
      }

      .appearance{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        @media(max-width: 992px){
          flex-wrap: wrap;
          margin-bottom: 30px;
        }

        .image-wrapper{
          width: 560px;

          @media(max-width: 1200px){
            width: 460px;
          }

          @media(max-width: 992px){
            width: 100%;
            margin-bottom: 30px;
          }

          a{
            &:hover{
              img{
                transform: scale(1.025);
              }
            }
          }

          img{
            width: 100%;
            height: auto;
            transition: all 0.5s;
          }
        }

        .video-wrapper{
          width: 497px;
          position: relative;
          overflow: hidden;

          @media(max-width: 1200px){
            width: 397px;
          }

          @media(max-width: 992px){
            width: 100%;
            margin-bottom: 20px;
            border-radius: 20px;
            overflow: hidden;
          }

          video{
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
          }

          .control-video{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background-color: rgba(0,0,0,0);
            display: flex;
            align-items: center;
            justify-content: space-around;

            a{
              width: 53px;

              svg{
                width: 100%;
                height: auto;
              }
            }
          }
        }

      }

      .car-info{
        display: flex;
        justify-content: space-between;

        @media(max-width: 992px){
          flex-wrap: wrap;
        }

        .item{
          background: linear-gradient(195.98deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #FFFFFF;
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.03);
          border-radius: 30px;
          width: 254px;
          padding: 34px 0 26px 0;
          text-align: center;
          color: #ffffff;

          @media(max-width: 1200px){
            width: 215px;
            padding-top: 28px;
            padding-bottom: 20px;
          }

          @media(max-width: 992px){
            width: 48%;
            margin-bottom: 20px;
          }

          @media(max-width: 440px){
            margin-bottom: 10px;
          }

          h3{
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 1.5;
            font-family: $f-light;
            margin-bottom: 5px;

            @media(max-width: 1200px){
              font-size: 12px;
            }

            @media(max-width: 992px){
              font-size: 14px;
            }

            @media(max-width: 500px){
              font-size: 12px;
            }
          }

          p{
            letter-spacing: 0.02em;
            font-size: 28px;
            line-height: 1;
            font-family: $f-Black;
            padding: 0 5px;

            @media(max-width: 1200px){
              font-size: 24px;
            }

            @media(max-width: 768px){
              font-size: 20px;
            }

            @media(max-width: 575px){
              font-size: 18px;
            }

            @media(max-width: 440px){
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .slider-controls{
    display: flex;
    align-items: center;

    p{
      font-size: 16px;
      font-family: $f-med;
      line-height: 1;
      margin-right: 10px;
      margin-bottom: 0;
      width: 40px;
      display: flex;
      justify-content: space-between;

      @media(max-width: 1200px){
        font-size: 14px;
        width: 32px;
      }

      .current{
        width: 11px;
      }

      .all{
        opacity: 0.7;
      }
    }

    .controls-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50px;
      margin-right: 20px;

      .control{
        width: 20px;

        svg{
          width: 100%;
          height: auto;
        }
      }
    }

    .slider-progress{
      width: 974px;
      height: 2px;
      position: relative;
      background-color: #efefef;

      @media(max-width: 1200px){
        width: 790px;
      }

      @media(max-width: 992px){
        width: 577px;
      }

      @media(max-width: 768px){
        width: 397px;
      }

      @media(max-width: 520px){
        width: 73%;
      }

      @media(max-width: 400px){
        width: 65%;
      }

      span{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: #323232;
        height: 2px;
      }
    }
  }
}

.animate-h{
  -webkit-animation: flip-slogan-h 0.5s ease-in-out;
  animation: flip-slogan-h forwards 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes flip-slogan-h {
  0% {
    margin-top: -220px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes flip-slogan-h  {
  0% {
    margin-top: -220px;
  }

  100% {
    margin-top: 0;
  }
}


