.examples-auto{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;

  @media(max-width: 992px){
    padding-top: 85px;
    padding-bottom: 85px;
  }

  @media(max-width: 768px){
    padding-top: 75px;
    padding-bottom: 75px;
  }

  @media(max-width: 575px){
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @media(max-width: 440px){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .block-title{
    width: 663px;
    margin: 0 auto 40px;
    text-align: center;

    @media(max-width: 992px){
      width: 100%;
      margin-bottom: 30px;
    }

    @media(max-width: 440px){
      margin-bottom: 20px;
    }
  }

  .filter{
    padding-left: 0;
    padding-right: 0;

    .nav-tabs{
      border: none !important;
      margin-bottom: 15px;
      flex-wrap: wrap;
      margin-left: 0;

      @media(max-width: 440px){
        margin-bottom: 20px;
      }

      .nav-item{
        margin: 15px;

        @media(max-width: 992px){
          margin: 10px;
        }

        @media(max-width: 575px){
          margin: 2vw;
        }

        .nav-link{
          width: 160px;
          padding: 20px 0;
          text-align: center;
          color: #323232;
          letter-spacing: 0.02em;
          font-size: 22px;
          line-height: 1.5;
          font-family: $f-Black;
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.03);
          border-radius: 30px;
          border: 2px solid #58348f;
          transition: all 0.5s;

          @media(max-width: 992px){
            font-size: 18px;
            width: 124px;
            border-radius: 26px;
          }

          @media(max-width: 768px){
            font-size: 18px;
            width: 160px;
            border-radius: 22px;
            padding: 15px 0;
          }

          @media(max-width: 575px){
            font-size: 16px;
            width: 29vw;
            border-radius: 18px;
          }

          @media(max-width: 440px){
            font-size: 12px;
          }

          p{
            position: relative;
            height: 50px;
            margin-bottom: 0;

            @media(max-width: 992px){
              height: 45px;
            }

            @media(max-width: 768px){
              height: 40px;
            }

            @media(max-width: 575px){
              height: 35px;
            }

            @media(max-width: 440px){
              height: 25px;
            }

            .alignnone{
              position: absolute;
              width: 50px;
              height: auto;
              display: block;
              top: 0;
              left: 50%;
              transition: all 0.5s;
              transform: translateX(-50%);

              @media(max-width: 992px){
                width: 45px;
              }

              @media(max-width: 768px){
                width: 40px;
              }

              @media(max-width: 575px){
                width: 35px;
              }

              &:nth-child(1){
                opacity: 0;
              }

              &:last-child{
                opacity: 1;
              }
            }
          }
        }

        .active{
          background: linear-gradient(204.44deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #FFFFFF;
          color: #ffffff;

          p{
            .alignnone{
              &:nth-child(1){
                opacity: 1;
              }

              &:last-child{
                opacity: 0;
              }
            }
          }
        }
      }
    }

    .price-filter{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      padding-left: 10px;

      a{
        display: block;
        width: 148px;
        height: 43px;
        line-height: 43px;
        background: #F3F5F6;
        border-radius: 10px;
        text-align: center;
        font-size: 14px;
        color: #A4A4A4;
        font-family: $f-light;
        margin: 3.5px;
        transition: all 0.5s;

        @media(max-width: 992px){
          width: 168px;
        }

        @media(max-width: 575px){
          font-size: 12px;
          width: 30vw;
        }

        @media(max-width: 400px){
          font-size: 14px;
          width: 45vw;
        }

        @media(max-width: 360px){
          font-size: 12px;
        }
      }

      .active-filter{
        background: linear-gradient(189.75deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #FFFFFF;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        color: #ffffff;
        font-family: $f-bold;
      }
    }

    .range{
      margin-bottom: 45px;
      padding-left: 15px;
      padding-right: 15px;

      @media(max-width: 992px){
        margin-bottom: 40px;
      }

      @media(max-width: 768px){
        margin-bottom: 30px;
      }

      @media(max-width: 440px){
        margin-bottom: 55px;
      }

      .signature{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 440px){
          position: relative;
        }

        p{
          margin-bottom: 0;
        }

        .param{
          color: #000000;
          font-size: 16px;
          line-height: 1;
          opacity: 0.5;

          @media(max-width: 768px){
            font-size: 14px;
          }
        }

        .range-value{
          display: flex;
          align-items: center;
          color: #000000;
          font-size: 18px;
          font-family: $f-bold;

          @media(max-width: 768px){
            font-size: 16px;
          }

          @media(max-width: 440px){
            position: absolute;
            bottom: -65px;
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }

      input[type=range] {
        -webkit-appearance: none;
        margin: 0;
        border: 0;
        width: 100%;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
        padding: 0;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
        background: #ffffff;
        border-radius: 0;
        border: 0px solid #000101;
      }
      input[type=range]::-webkit-slider-thumb {
        background: #BCD866;
        border: 1px solid #F8FAFB;
        box-shadow: 10px 10px 50px rgba(30, 30, 30, 0.1);
        height: 30px;
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -11px;

        @media(max-width: 768px){
          height: 25px;
          width: 25px;
          margin-top: -9px;
        }
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ffffff;
      }

      input[type=range]:focus::-webkit-slider-thumb {
        background: #BCD866;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
        background: #ffffff;
        border-radius: 0;
        border: 0px solid #000101;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 10px 10px 50px rgba(30, 30, 30, 0.1);
        border: 1px solid #F8FAFB;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;

        @media(max-width: 768px){
          height: 25px;
          width: 25px;
        }
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #ffffff;
        border: 0px solid #000101;
        border-radius: 0;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
      }
      input[type=range]::-ms-fill-upper {
        background: #ffffff;
        border: 0px solid #000101;
        border-radius: 0;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
      }
      input[type=range]::-ms-thumb {
        box-shadow: 10px 10px 50px rgba(30, 30, 30, 0.1);
        border: 1px solid #F8FAFB;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;

        @media(max-width: 768px){
          height: 25px;
          width: 25px;
        }
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #ffffff;
      }

      input[type=range]:focus::-ms-fill-upper {
        background: #ffffff;
      }

      body {
        padding: 30px;
      }
    }

    .tab-content{
      width: 100%;
      position: relative;
      padding-left: 15px;
      padding-right: 15px;


      .tab-pane{
        width: 100% !important;
        position: relative;
      }

      .car-item{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        z-index: 1;

        @media(max-width: 992px){
          flex-wrap: wrap;
          margin-bottom: 30px;
        }

        img{
          width: 446px;
          height: auto;

          @media(max-width: 992px){
            width: 100%;
            margin-bottom: 30px;
          }
        }

        .info{
          width: 445px !important;

          @media(max-width: 992px){
            width: 100% !important;
          }

          p{
            margin-bottom: 30px;
            display: flex;
            align-items: center;

            @media(max-width: 992px){
              margin-bottom: 30px;
            }

            .option-name{
              font-size: 14px;
              text-transform: uppercase;
              font-family: $f-light;
              margin-right: 20px;
              width: 190px;

              @media(max-width: 992px){
                display: block;
              }

              @media(max-width: 440px){
                font-size: 12px;
                width: 165px;
                margin-right: 10px;
              }
            }

            .option{
              font-size: 22px;
              line-height: 1.2;
              font-family: $f-Black;
              width: 243px;

              @media(max-width: 992px){
                display: block;
                width: 440px;
              }

              @media(max-width: 768px){
                font-size: 20px;
                width: 280px;
              }

              @media(max-width: 575px){
                width: 50%;
              }

              @media(max-width: 440px){
                font-size: 18px;
              }
            }
          }
        }
      }

      .slide-controls{
        position: absolute;
        right: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        width: 445px;
        margin-top: -20px;

        @media(max-width: 992px){
          position: relative;
          width: 100%;
          margin-top: 0;
        }

        p{
          font-size: 16px;
          font-family: $f-med;
          line-height: 1;
          margin-right: 10px;
          margin-bottom: 0;
          width: 45px;
          display: flex;
          /*justify-content: space-between;*/
          justify-content: flex-end;

          @media(max-width: 1200px){
            font-size: 14px;
            width: 40px;
          }

          .current{
            /*width: 16px;*/
            margin-right: 2px;
          }

          .all{
            opacity: 0.7;
            margin-left: 2px;
          }
        }

        .controls-wrapper{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 50px;
          margin-right: 20px;

          .control{
            width: 20px;

            svg{
              width: 100%;
              height: auto;
            }
          }
        }

        .slider-progress{
          width: 315px;
          height: 2px;
          position: relative;
          background-color: #efefef;

          @media(max-width: 1200px){
            width: 330px;
          }

          @media(max-width: 992px){
            width: 575px;
          }

          @media(max-width: 768px){
            width: 390px;
          }

          @media(max-width: 575px){
            width: 73%;
          }

          @media(max-width: 400px){
            width: 65%;
          }

          span{
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            background-color: #323232;
            height: 2px;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}