.feedback-form{
  position: relative;
  z-index: 5;
  background-color: #ffffff;

  .content{
    padding: 100px 95px;
    background: linear-gradient(196.19deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #323232;
    margin-bottom: -175px;

    @media(max-width: 1200px){
      padding: 80px 75px;
    }

    @media(max-width: 992px){
      padding: 70px 50px;
    }

    @media(max-width: 768px){
      padding: 60px 40px;
    }

    @media(max-width: 440px){
      padding: 50px 30px;
    }

    .block-title{
      text-align: center;
      color: #ffffff;
      margin-bottom: 50px;
    }

    form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;

      @media(max-width: 992px){
        width: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      @media(max-width: 575px){
        width: 255px;
      }

      .custom-control{
        width: 100%;
        margin-bottom: 40px;
      }

      .custom-checkbox{
        width: 100% !important;
        padding-left: 0;
        cursor: pointer;
        height: auto;
        text-align: center;

        @media(max-width: 992px){
          text-align: left;
        }

        @media(max-width: 575px){
          margin-top: 5px;
          margin-bottom: 15px;
        }

        .custom-control-label{
          letter-spacing: 0.05em;
          color: #A4A4A4;;
          font-size: 14px;
          padding-left: 32px;
          cursor: pointer;

          @media(max-width: 575px){
            font-size: 12px;
          }

          &:hover{
            &:before{
              border: 1px solid #BCD866;
            }
          }

          &:before{
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid #A4A4A4;
            background-color: rgba(0,0,0,0);
            top: 0px;
            left: 0px;
            transition: all 0.5s;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
          }

          a{
            color: #BCD866 !important;
          }
        }

        .custom-control-input:checked~.custom-control-label::before{
          background-color: rgba(0,0,0,0);
          border: 1px solid $accent;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
        }

        .custom-control-input:checked~.custom-control-label::after{
          background-image: url("../img/form-ch.svg");
          background-size: 100%;
          top: 6px;
          left: 4px;
          width: 14px;
          height: 9.5px;
        }
      }

    }

    .mess-wrapper{
      width: 325px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      @media(max-width: 575px){
        width: 255px;
      }

      a{
        width: 40px;
        transition: all 0.5s;

        @media(max-width: 575px){
          width: 36px;
        }

        &:hover{
          opacity: 0.7;
        }

        svg{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}