header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 28px;
  transition: all 0.5s;
  padding-left: 50px;
  padding-right: 50px;

  @media(max-width: 1440px){
    padding-left: 0;
    padding-right: 0;
  }

  .content{
    align-items: center;
    justify-content: space-between;
    display: flex;

    .logo{
      width: 136px;
      transition: all 0.5s;

      @media(max-width: 992px){
        width: 125px;
      }

      @media(max-width: 768px){
        width: 105px;
      }

      @media(max-width: 575px){
        width: 95px;
      }

      @media(max-width: 440px){
        width: 81px;
      }

      svg{
        width: 100%;
        height: auto;
      }
    }

    .header-nav{
      display: flex;
      align-items: center;
      transition: all 0.5s;
    }

    .lang-wrapper{
      display: flex;
      margin-right: 30px;
      transition: all 0.5s;

      @media(max-width: 768px){
        margin-right: 20px;
      }

      a{
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;
        font-family: $f-med;
        transition: all 0.5s;
        margin-right: 8px;

        @media(max-width: 768px){
          font-size: 12px;
        }

        &:last-child{
          margin-right: 0;
        }

        &:hover{
          opacity: 0.7;
        }
      }

      .active{
        color: #BCD866;
      }

    }

    .menu-btn{
      display: block;
      width: 40px;
      min-height: 20px;
      position: relative;
      z-index: 10;
      transition: all 0.5s;

      @media(max-width: 992px){
        width: 35px;
      }

      @media(max-width: 768px){
        width: 30px;
      }

      @media(max-width: 575px){
        width: 25px;
      }

      @media(max-width: 440px){
        width: 20px;
      }

      span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin-bottom: 10px;
        transition: all 0.5s;

        @media(max-width: 992px){
          margin-bottom: 7px;
        }

        @media(max-width: 768px){
          margin-bottom: 5px;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    .close-menu{
      opacity: 1 !important;
      span{
        margin-bottom: 0;
        &:first-child{
          transform: rotate(45deg) translateY(3px);
        }

        &:nth-child(2){
          opacity: 0;
        }

        &:last-child{
          transform: rotate(-45deg) translateY(-3px);
        }
      }
    }
  }

  .main-navigation{
    width: 992px;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.98);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-left: 95px;
    transition: all 0.5s;
    transform: translateX(110%);
    z-index: 9;
    overflow: auto;

    @media(max-width: 992px){
      width: 100vw;
      padding-left: 70px;
    }

    @media(max-width: 768px){
      padding-left: 50px;
    }

    @media(max-width: 690px){
      padding-left: 30px;
      padding-right: 30px;
      overflow-y: scroll;
      padding-top: 90px;
      padding-bottom: 30px;
      align-items: flex-start;
    }

    .logo-menu{
      display: none;

      @media(max-width: 992px){
        display: block;
        position: absolute;
        width: 125px;
        top: 20px;
        left: 70px;
      }

      @media(max-width: 768px){
        width: 105px;
        left: 50px;
      }

      @media(max-width: 690px){
        left: 15px;
      }

      @media(max-width: 575px){
        width: 95px;
      }

      @media(max-width: 440px){
        width: 81px;
      }

      svg{
        width: 100%;
        height: auto;
      }
    }


    .menu-close-btn{
      width: 30px;
      height: 30px;
      position: absolute;
      top: 20px;
      right: 165px;
      display: none;

      @media(max-width: 992px){
        right: 50px;
      }

      @media(max-width: 690px){
        right: 15px;
      }

      span{
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        transition: all 0.5s;
        transform-origin: center;
        display: block;

        &:nth-child(1){
          transform: rotate(45deg);
        }
        &:nth-child(2){
          transform: rotate(-45deg);
        }
      }
    }

    .menu-lang{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    /*.inner{
      overflow-y: scroll;
    }*/

    .main-menu{
      padding: 0;
      margin: 0 0 70px 0;
      display: flex;
      align-items: center;

      @media(max-width: 1440px){
        margin-bottom: 50px;
      }

      @media(max-width: 1200px){
        margin-bottom: 40px;
      }

      @media(max-width: 992px){
        margin-bottom: 30px;
      }

      @media(max-width: 690px){
        flex-wrap: wrap;
      }

      .menu-item{
        margin-right: 30px;

        @media(max-width: 992px){
          margin-right: 20px;
        }

        @media(max-width: 768px){
          margin-right: 15px;
        }

        @media(max-width: 690px){
          width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
        }

        a{
          color: #ffffff !important;
          font-size: 16px;
          line-height: 1.5;

          @media(max-width: 575px){
            font-size: 14px;
          }
        }
      }
    }

    .form-wrapper{
      .block-title{
        color: #ffffff;
        margin-bottom: 30px;
      }

      form{
        width: 400px;
        margin-bottom: 50px;

        @media(max-width: 440px){
          width: 100%;
        }

        .form-group{
          width: 100%;
        }

        .custom-checkbox{
          text-align: left;

          a{
            display: inline-block;
          }
        }

        .button{
          margin-left: 0;
        }
      }

      .mess-wrapper{
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 440px){
          width: 100%;
        }

        a{
          width: 40px;

          svg{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .open-menu{
    transform: translateX(0) !important;
  }
}

.hidden{
  background-color: rgba(0,0,0,0);

  .content{
    .logo{
      opacity: 0;
    }

    .header-nav{

      .lang-wrapper{
        opacity: 0;
        pointer-events: none;
      }

      .menu-btn{
        opacity: 0;
      }

    }
  }
}