.know-yourself{
  background-color: #F3F5F6;
  padding-top: 100px;
  /*padding-bottom: 20px;*/
  padding-bottom: 100px;

  @media(max-width: 992px){
    padding-top: 85px;
    /*padding-bottom: 15px;*/
    padding-bottom: 85px;
  }

  @media(max-width: 768px){
    padding-top: 65px;
    /*padding-bottom: 140px;*/
    padding-bottom: 65px;
  }

  @media(max-width: 540px){
   /* padding-bottom: 155px;*/
  }

  @media(max-width: 440px){
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .block-title{
    margin-bottom: 55px;
  }

  .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media(max-width: 540px){
      justify-content: space-around;
    }

    .item{
      background-color: #ffffff;
      position: relative;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.03);
      border-radius: 30px;
      padding: 32px;
      transition: all 0.5s;

      @media(max-width: 1200px){
        padding-top: 25px;
      }

      @media(max-width: 768px){
        padding: 25px;
      }

      @media(max-width: 540px){
        width: 290px !important;
        padding: 15px;
      }

      .angle{
        position: absolute;
        top: -20px;
        z-index: 1;
        width: 46px;
        height: auto;
      }

      img{
        display: block;
        width: auto;
        height: 127px;
        position: relative;
        z-index: 2;

        @media(max-width: 1200px){
          height: 115px;
        }

        @media(max-width: 768px){
          height: 105px;
        }

        @media(max-width: 540px){
          height: 120px;
        }
      }

      p{
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 0;
        position: relative;
        z-index: 2;

        @media(max-width: 1200px){
          font-size: 20px;
        }

        @media(max-width: 767px){
          font-size: 18px;
        }

        @media(max-width: 540px){
          font-size: 16px;
        }
      }

      &:nth-child(1){
        width: 417px;
        display: flex;

        transform: rotate(30deg) translateX(95px) translateY(-40px);

        @media(max-width: 1200px){
          width: 387px;
        }

        .angle{
          right: 68px;
        }

        img{
          margin-right: 30px;

          @media(max-width: 540px){
            margin-right: 10px;
          }
        }
      }

      &:nth-child(2){
        width: 346px;
        /*transform: rotate(3.67deg);*/

        transform: rotate(-41deg) translateX(-1px) translateY(-86px);

        @media(max-width: 1200px){
          width: 256px;
        }

        @media(max-width: 768px){
          transform: translateY(15%) rotate(3.67deg);
        }

        .angle{
          right: 112px;
        }

        img{
          margin: 0 auto 20px;
        }

        p{
          text-align: center;
        }
      }

      &:nth-child(3){
        width: 272px;

        transform: rotate(41deg) translateX(-24px) translateY(-159px);

        @media(max-width: 1200px){
          width: 222px;
        }

        @media(max-width: 992px){
          transform: translateY(-25%);
        }

        @media(max-width: 768px){
          transform: translateY(15%);
        }

        @media(max-width: 540px){
          transform: translateY(28%);
        }

        .angle{
          left: 31px;
        }

        img{
          margin: 0 auto 20px;
        }

        p{
          text-align: center;
        }
      }

      &:nth-child(4){
        width: 417px;
        display: flex;
        /*transform: translateY(-93%);*/
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;

        transform: rotate(-27deg) translateX(400px) translateY(118px);

        @media(max-width: 1200px){
          width: 387px;
        }

        @media(max-width: 992px){
          transform: translateY(35%);
        }

        @media(max-width: 768px){
          transform: translateY(55%);
          width: 350px;
        }

        @media(max-width: 540px){
          transform: translateY(70%);
        }

        .angle{
          left: 153px;
        }

        img{
          transform: rotate(-25deg);
        }

        p{
          text-align: right;
          margin-left: -10px;
          padding-top: 15px;
        }
      }
    }

    .animation{
      &:nth-child(1){
        transform: rotate(0deg) translateX(0px) translateY(0px);
      }

      &:nth-child(2){

        transform: rotate(3.67deg) translateX(0px) translateY(0px);

        @media(max-width: 768px){
          /*transform: rotate(3.67deg) translateY(15%) translateY(0px);*/
          transform: rotate(3.67deg) translateY(0) translateY(0px);
          margin-top: 35px;
        }

      }

      &:nth-child(3){

        transform: rotate(0deg) translateX(0px) translateY(0px);

        @media(max-width: 992px){
          /*transform: rotate(0deg) translateX(0px) translateY(-25%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
          margin-top: -12%;
        }

        @media(max-width: 768px){
          /*transform: rotate(0deg) translateX(0px) translateY(15%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
          margin-top: 7%;
        }

        @media(max-width: 540px){
          /*transform: rotate(0deg) translateX(0px) translateY(28%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
          margin-top: 35px;
        }

      }

      &:nth-child(4){
        /*transform: rotate(0deg) translateX(0px) translateY(-93%);*/
        transform: rotate(0deg) translateX(0px) translateY(0);
        margin-top: -10%;


        @media(max-width: 992px){
          /*transform: rotate(0deg) translateX(0px) translateY(35%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
          margin-top: 5%;
        }

        @media(max-width: 768px){
          /*transform: rotate(0deg) translateX(0px) translateY(55%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
        }

        @media(max-width: 540px){
          /*transform: rotate(0deg) translateX(0px) translateY(70%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
          margin-top: 35px;
        }
      }
    }

    .ru-item.animation{
      &:nth-child(4){
        /*transform: rotate(0deg) translateX(0px) translateY(-93%);*/
        transform: rotate(0deg) translateX(0px) translateY(0);
        margin-top: -60px;

        @media(max-width: 1200px){
          margin-top: -100px;
        }

        @media(max-width: 992px){
          /*transform: rotate(0deg) translateX(0px) translateY(35%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
          margin-top: 5%;
        }

        @media(max-width: 768px){
          /*transform: rotate(0deg) translateX(0px) translateY(55%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
        }

        @media(max-width: 540px){
          /*transform: rotate(0deg) translateX(0px) translateY(70%);*/
          transform: rotate(0deg) translateX(0px) translateY(0);
          margin-top: 35px;
        }
      }
    }
  }
}