.modal-form {
  .modal-dialog{
    width: 1110px;
    max-width: 1110px;

    @media(max-width: 1200px){
      width: 950px;
      max-width: 950px;
    }

    @media(max-width: 992px){
      width: 560px;
      max-width: 560px;
    }

    @media(max-width: 630px){
      width: 440px;
      max-width: 440px;
    }

    @media(max-width: 460px){
      width: 320px;
    }


    .modal-content{
      background: linear-gradient(196.19deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #323232;
      padding: 150px 95px;

      @media(max-width: 1200px){
        padding: 120px 75px;
      }

      @media(max-width: 992px){
        padding: 80px 60px;
      }

      @media(max-width: 460px){
        padding: 50px 15px;
      }

      .block-title{
        color: #ffffff;
        text-align: center;
        margin-bottom: 50px;
        display: block;
        width: 100%;

        @media(max-width: 460px){
          margin-bottom: 30px;
        }
      }

      .modal-header{
        position: relative;

        .close{
          padding: 0;
          margin: 0;
          top: -120px;
          right: -70px;
          width: 40px;

          @media(max-width: 1200px){
            width: 30px;
            top: -100px;
            right: -60px;
          }

          @media(max-width: 992px){
            top: -60px;
            right: -40px;
          }

          @media(max-width: 460px){
            width: 20px;
            top: -35px;
            right: 0;
          }

          svg{
            width: 100%;
            height: auto;
          }

        }
      }

      form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;

        @media(max-width: 992px){
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }

        @media(max-width: 575px){
          width: 255px;
        }
      }

      .mess-wrapper{
        width: 325px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media(max-width: 575px){
          width: 255px;
        }

        a{
          width: 40px;
          transition: all 0.5s;

          @media(max-width: 575px){
            width: 36px;
          }

          &:hover{
            opacity: 0.7;
          }

          svg{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}