.responsibility{
  padding-top: 70px;
  background-color: #323232;
  position: relative;


  @media(max-width: 992px){
    padding-top: 60px;
  }

  @media(max-width: 768px){
    padding-top: 50px;
  }

  @media(max-width: 575px){
    padding-top: 40px;
  }

  @media(max-width: 440px){
    padding-top: 30px;
  }

  .content{
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s;
    margin-bottom: 40px;

    @media(max-width: 992px){
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    .text{
      color: #ffffff;
      width: 540px;

      @media(max-width: 1200px){
        width: 440px;
      }

      @media(max-width: 992px){
        width: 100%;
        margin-bottom: 30px;
      }

      h3{
        font-size: 22px;
        line-height: 1.5;
        font-family: $f-bold-i;
        margin-bottom: 20px;

        @media(max-width: 992px){
          font-size: 20px;
          margin-bottom: 15px;
        }

        @media(max-width: 440px){
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      p{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;

        @media(max-width: 1200px){
          font-size: 16px;
        }

        @media(max-width: 992px){
          margin-bottom: 15px;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    .image{
      width: 445px;

      @media(max-width: 992px){
        width: 100%;
        margin-bottom: 30px;
      }

      img{
        width: 100%;
        height: auto;
      }
    }


  }

  .animation-up{
    opacity: 1;
    transform: translateY(0);
  }

  .call{
    position: relative;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
    width: 100%;

    @media(max-width: 575px){
      width: auto;
      margin-right: 15px;
    }

    .container{
      position: relative;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(186.87deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #FFFFFF;
        width: 100vw;
        height: 100%;
        z-index: 1;
        border-top-right-radius: 40px;
      }
    }

    .inner{
      position: relative;
      padding-top: 45px;
      padding-bottom: 53px;
      z-index: 2;
      padding-right: 0;

      @media(max-width: 1200px){
        padding-right: 15px;
      }

      @media(max-width: 440px){
        padding-top: 30px;
        padding-bottom: 30px;
      }

      h2{
        color: #ffffff;
        font-size: 27px;
        font-family: $f-bold;
        line-height: 1.5;
        margin-bottom: 20px;

        @media(max-width: 992px){
          font-size: 24px;
        }

        @media(max-width: 768px){
          font-size: 22px;
          margin-bottom: 15px;
        }

        @media(max-width: 575px){
          font-size: 20px;
        }

        @media(max-width: 440px){
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      .text{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media(max-width: 768px){
          flex-wrap: wrap;
        }

        div{
          width: 494px;
          color: #ffffff;

          @media(max-width: 992px){
            width: 390px;
          }

          @media(max-width: 768px){
            width: 100%;
            margin-bottom: 20px;
          }

          strong{
            font-size: 28px;
            font-family: $f-bold;
            margin-bottom: 0;
            line-height: 1.5;

            @media(max-width: 992px){
              font-size: 24px;
            }

            @media(max-width: 768px){
              font-size: 22px;
            }

            @media(max-width: 575px){
              font-size: 20px;
            }

            @media(max-width: 440px){
              font-size: 18px;
            }
          }

          p{
            margin-bottom: 0;
            font-size: 22px;
            line-height: 1.5;

            @media(max-width: 768px){
              font-size: 20px;
            }

            @media(max-width: 575px){
              font-size: 18px;
            }
          }
        }

      }
    }
  }
}