
.main-screen{
  min-height: 100vh;
  height: auto;
  background: linear-gradient(196.47deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #AFB2BB;
  position: relative;
  display: flex;
  align-items: center;

  @media(max-width: 992px){
    padding-top: 100px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .info{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;

    @media(max-width: 992px){
      position: relative;
    }
  }

  .content{
    position: relative;
    padding-bottom: 120px;

    @media(max-width: 1200px){
      padding-bottom: 80px;
    }

    @media(max-width: 992px){
      padding-bottom: 15px;
    }

    h1{
      color: #ffffff;
      font-family: $f-Black;
      font-size: 55px;
      line-height: 1.5;
      margin-bottom: 73px;
      position: relative;
      z-index: 2;

      @media(max-width: 1200px){
        font-size: 52px;
        margin-bottom: 60px;
      }

      @media(max-width: 992px){
        font-size: 46px;
        margin-bottom: 50px;
      }

      @media(max-width: 768px){
        font-size: 40px;
        margin-bottom: 40px;
        text-align: center;
      }

      @media(max-width: 575px){
        font-size: 36px;
        margin-bottom: 30px;
      }

      @media(max-width: 440px){
        font-size: 32px;
        margin-bottom: 20px;
      }

      span{

        &:nth-child(1){
          font-family: $f-main;
          letter-spacing: 0.05em;
          font-size: 34px;

          @media(max-width: 1200px){
            font-size: 32px;
          }

          @media(max-width: 992px){
            font-size: 30px;
          }

          @media(max-width: 768px){
            font-size: 28px;
          }

          @media(max-width: 575px){
            font-size: 26px;
          }

          @media(max-width: 440px){
            font-size: 24px;
          }
        }

        &:nth-child(2){
          font-size: 38px;

          @media(max-width: 1200px){
            font-size: 34px;
          }

          @media(max-width: 992px){
            font-size: 32px;
          }

          @media(max-width: 768px){
            font-size: 28px;
          }

          @media(max-width: 575px){
            font-size: 26px;
          }

          @media(max-width: 440px){
            font-size: 24px;
          }
        }
      }
    }

    .button{
      position: relative;
      z-index: 2;

      @media(max-width: 768px){
        margin: 0 auto;
      }
    }

    .main-slider-wrapper{
      position: absolute;
      width: 785px;
      right: 0;
      top: 0;
      z-index: 1;

      @media(max-width: 1200px){
        width: 585px;
      }

      @media(max-width: 992px){
        position: relative;
        width: 100%;
        padding-top: 1px;
      }

      @media(max-width: 992px){
        margin-top: 30px;
      }

      @media(max-width: 768px){
        margin-top: 20px;
      }

      @media(max-width: 575px){
        margin-top: 15px;
      }

      @media(max-width: 440px){
        margin-top: 12px;
      }

      svg{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;

        @media(max-width: 575px){
          width: 105%;
          left: -2.5%;
        }
      }

      .main-slider{
        margin-top: 70px;

        @media(max-width: 1200px){
          margin-top: 45px;
        }

        .slide{
          width: 100%;
          margin: 0 50px;

          @media(max-width: 1200px){
            margin: 0 40px;
          }

          @media(max-width: 575px){
            margin: 0 30px;
          }

          @media(max-width: 440px){
            margin: 0 20px;
          }

          @media(max-width: 360px){
            margin: 0 10px;
          }

          img{
            width: 100%;
            height: auto;
            transform: scale(1);
            transition: all 0.5s;
          }
        }

        .slick-active{
          img{
            transform: scale(1.1) !important;
          }
        }

        .slick-active+.slide{
          img{
            transform: scale(0.5) !important;
          }
        }

        .slick-cloned{
          img{
            transform: scale(0.5) !important;
          }
        }


        .slick-dots{
          bottom: auto;
          top: 50%;
          transform: translateY( -50%);
          right: 0;
          width: 13px;

          @media(max-width: 575px){
            display: none !important;
          }

          li{
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: rgba(0,0,0,0);
            border: 1px dashed #ffffff;
            transition: all 0.5s;

            button{
              display: none;
            }
          }

          .slick-active{
            background-color: #ffffff;
            border: 1px solid #ffffff;
          }
        }
      }

    }
  }

  .main-slider-info{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 27px;
    justify-content: space-between;

    @media(max-width: 992px){
      flex-wrap: wrap;
    }

    @media(max-width: 768px){
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 30px;
    }

    @media(max-width: 575px){
      margin-left: 15px;
      padding-right: 30px;
    }

    @media(max-width: 360px){
      padding-left: 15px;
    }

    &:after{
      content: '';
      position: absolute;
      height: 100%;
      width: 100vw;
      background-color: #ffffff;
      top: 0;
      left: 0;
      border-top-left-radius: 40px;
      box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    .counter-wripper{
      width: 175px;
     /* margin-right: 50px;*/
      position: relative;
      z-index: 2;

      @media(max-width: 992px){
        width: 100%;
        margin-bottom: 10px;
      }

      @media(max-width: 768px){
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }

      h3{
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.4;
        font-family: $f-light;
        margin-bottom: 18px;

        @media(max-width: 1200px){
          font-size: 14px;
        }
      }

      .counter{
        display: flex;
        align-items: center;

        /*@media(max-width: 470px){
          display: none;
        }*/

        p{
          font-size: 16px;
          font-family: $f-med;
          line-height: 1;
          margin-right: 10px;
          margin-bottom: 0;
          width: 40px;
          display: flex;
          justify-content: space-between;

          @media(max-width: 1200px){
            font-size: 14px;
          }

          .current{
            width: 11px;
          }

          .all{
            opacity: 0.7;
          }
        }

        .time-progress{
          position: relative;
          height: 2px;
          width: 247px;
          background-color: #efefef;

          @media(max-width: 1200px){
            width: 230px;
          }

          @media(max-width: 992px){
            width: 615px;
          }

          @media(max-width: 768px){
            width: 480px;
          }

          @media(max-width: 575px){
            width: 94%;
          }

          span{
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            background-color: #323232;
            height: 2px;
          }
        }
      }
    }

    .car-name{

      p{
        margin-bottom: 0;
        line-height: 1.3;
        font-family: $f-Black;

        span{
          display: block;
          padding: 0;
          background-color: rgba(0,0,0,0);
        }
      }
    }

    .saving{

    }

    .car-info{
      width: 160px;
      margin-right: 0px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;

      @media(max-width: 1200px){
        width: 150px;
      }

      @media(max-width: 768px){
        margin-bottom: 20px;
      }

      @media(max-width: 390px){
        width: 140px;
      }

      @media(max-width: 350px){
        width: 130px;
      }

      svg{
        width: 40px;
        height: auto;
        margin-right: 20px;

        @media(max-width: 1200px){
          width: 35px;
          margin-right: 15px;
        }

        @media(max-width: 390px){
          width: 30px;
          margin-right: 10px;
        }
      }

      .text{
        line-height: 1.5;
        width: 97px;
        color: #000000;

        @media(max-width: 350px){
          width: 87px;
        }

        h3{
          margin-bottom: 0;
          font-size: 16px;

          @media(max-width: 1200px){
            font-size: 14px;
            margin-bottom: 5px;
          }
        }

        p{
          margin-bottom: 0;
          font-size: 18px;
          font-family: $f-Black;

          @media(max-width: 768px){
            font-size: 16px;
          }

          @media(max-width: 350px){
            font-size: 14px;
          }
        }
      }
    }

    .mob-counter{
      display: none;
      align-items: center;
      position: relative;
      z-index: 2;

      @media(max-width: 470px){
        display: flex;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      p{
        font-size: 14px;
        font-family: $f-med;
        line-height: 1;
        margin-right: 10px;
        margin-bottom: 0;
        width: 32px;
        display: flex;
        justify-content: space-between;

        .current{
          width: 10px;
        }

        .all{
          opacity: 0.7;
        }
      }

      .time-progress{
        position: relative;
        height: 2px;
        width: 91%;
        background-color: #efefef;

        span{
          position: absolute;
          top: 0;
          left: 0;
          height: 2px;
          background-color: #323232;
        }
      }
    }

    .more{
      display: flex;
      align-items: center;
      color: #323232;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 16px;
      font-family: $f-med;
      position: relative;
      z-index: 2;

      @media(max-width: 1200px){
        font-size: 14px;
      }

      @media(max-width: 992px){
        font-size: 12px;
      }

      @media(max-width: 350px){
        font-size: 10px;
      }

      &:hover{
        svg{
          margin-left: 20px;
        }
      }

      svg{
        width: 20px;
        height: auto;
        margin-left: 15px;
        transition: all 0.5s;

        @media(max-width: 992px){
          margin-left: 7px;
          width: 15px;
        }

      }
    }
  }
}