
/*--- FONTS ---*/

$f-main: "GothamProRegular";
$f-light: "GothamProLight";
$f-med: "GothamProMedium";
$f-bold: "GothamProBold";
$f-bold-i: "GothamProBoldItalic";
$f-Black: "GothamProBlack";
$f-Black-i: "GothamProBlackItalic";

/*--- COLORS ---*/

$accent: #ffffff;
