/*--- IMPORT ---*/
@import "bootstrap.min.css";
@import "odometer-theme-default.css";
@import "jquery.fancybox.css";

@import "fonts";
@import "variables";
@import "basic";
@import "popup";
@import "slick";
@import "slick-teame";

/*--- HEADER ---*/

@import "header";

/*--- Top screen ---*/

@import "top-screen";

/*--- Know yourself ---*/

@import "know-yourself";

/*--- About ---*/

@import "about";

/*--- Delivered ---*/

@import "delivered";

/*--- Advantages ---*/

@import "advantages";

/*--- Responsibility ---*/

@import "responsibility";

/*--- Buy auto simple ---*/

@import "buy-auto-simple";

/*--- Examples auto ---*/

@import "examples-auto";

/*--- Feedback form ---*/

@import "feedback-form";

/*--- Contacts ---*/

@import "contacts";

/*--- 404 ---*/

.arror-404{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(232.25deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #AFB2BB;

  .inner{
    width: 860px;
    margin: 0 auto;
    position: relative;
    text-align: center;

    @media(max-width: 1200px){
      width: 760px;
    }

    @media(max-width: 992px){
      width: 100%;
    }

    @media(max-width: 768px){
      width: 120%;
      margin-left: -10%;
    }

    @media(max-width: 575px){
      width: 100%;
      margin-left: 0;
    }

    .bg-pic{
      width: 100%;
      height: auto;

      @media(max-width: 575px){
        width: 150%;
        margin-left: -25%;
      }

      @media(max-width: 370px){
        width: 200%;
        margin-left: -50%;
      }
    }

    .text{
      width: 525px;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #ffffff;
      transform: translateX(-50%) translateY(-50%);

      @media(max-width: 768px){
        width: 90%;
      }

      h1{
        font-size: 130px;
        line-height: 1.1;
        font-family: $f-Black;
        margin-bottom: 20px;

        @media(max-width: 1200px){
          font-size: 110px;
        }

        @media(max-width: 992px){
          font-size: 90px;
        }

        @media(max-width: 768px){
          font-size: 80px;
        }

        @media(max-width: 440px){
          font-size: 60px;
        }
      }

      h2{
        line-height: 1.5;
        font-size: 22px;
        font-family: $f-bold;
        margin-bottom: 10px;
        letter-spacing: 0.05em;

        @media(max-width: 992px){
          font-size: 20px;
        }

        @media(max-width: 768px){
          font-size: 18px;
        }
      }

      p{
        letter-spacing: 0.05em;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 57px;

        @media(max-width: 1200px){
          margin-bottom: 50px;
        }

        @media(max-width: 992px){
          margin-bottom: 45px;
        }

        @media(max-width: 768px){
          font-size: 16px;
          margin-bottom: 30px;
        }

        @media(max-width: 440px){
          margin-bottom: 20px;
          font-size: 14px;
        }
      }

      .button{
        margin: 0 auto;
      }
    }
  }
}

/*--- thx-page ---*/

.thx-page{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(232.25deg, #7E42A5 13.2%, #7C41A4 15.42%, #633895 42.25%, #53328C 66.68%, #4E3089 86.41%), #AFB2BB;

  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 992px){
      flex-wrap: wrap;
      padding-top: 100px;
      padding-bottom: 50px;
    }

    .text{
      width: 465px;
      color: #ffffff;

      @media(max-width: 992px){
        margin-bottom: 30px;
      }

      @media(max-width: 575px){
        width: 100%;
      }

      h1{
        letter-spacing: -0.02em;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 10px;
        font-size: 46px;
        font-family: $f-Black;

        @media(max-width: 1200px){
          font-size: 42px;
        }
        @media(max-width: 575px){
          font-size: 36px;
        }

        @media(max-width: 440px){
          font-size: 28px;
        }
      }

      p{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 70px;

        @media(max-width: 1200px){
          margin-bottom: 50px;
        }

        @media(max-width: 992px){
          margin-bottom: 20px;
        }

        @media(max-width: 575px){
          font-size: 16px;
        }
      }
    }

    img{
      width: 693px;
      height: auto;
      margin-right: -82px;

      @media(max-width: 1200px){
        width: 590px;
      }

      @media(max-width: 992px){
        width: 70%;
        margin: 0 auto;
      }

      @media(max-width: 575px){
        width: 100%;
      }
    }
  }
}


